<div class="modal fade" id="addReportModal" tabindex="-1" role="dialog" aria-labelledby="addReportModalLabel"
     aria-hidden="true">
    <div th:fragment="modal-content">

        <div class="d-flex justify-content-center">
            <div class="add-report-container">
                <!-- Modal content -->

                <form th:action="@{/create}" th:object="${reportModel}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="firstLine">First Line</label>
                        <input type="text" class="form-control" id="firstLine" name="firstLine" th:field = "*{litter.getAddresses()}"required>
                    </div>
                    <div class="form-group">
                        <label for="postCode">Post Code</label>
                        <input type="text" class="form-control" id="postCode" name="postCode" required>
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city" required>
                    </div>
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" name="country" required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" required></textarea>
                    </div>
                    <div class="form-group mt-3">
                        <label for="photo">Photo</label>
                        <input type="file" class="form-control-file" id="photo" name="photo" accept="image/*"
                               required>
                    </div>

                    <button type="submit" class="btn btn-primary m-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

