<div th:fragment="edit-report-modal-content">
    <div class="d-flex justify-content-center">
        <div class="edit-report-container">
            <!-- Modal content -->

            <form th:action="@{/reports/{id}/edit}" method="post" enctype="multipart/form-data" th:object="${report}">
                <!-- Include the necessary input fields for editing the report -->
<!--                <div class="form-group">-->
<!--                    <label for="email">Email</label>-->
<!--                    <input type="email" class="form-control" id="email" name="email" th:field="${#}" required>-->
<!-- Fill this when will ahve the user. TODO-->
                <div class="form-group">
                    <label for="firstLine">First Line</label>
                    <input type="text" class="form-control" id="firstLine" name="firstLine" th:field="${report.getAddress().getFirstLine()}" required>
                </div>
                <div class="form-group">
                    <label for="postCode">Post Code</label>
                    <input type="text" class="form-control" id="postCode" name="postCode" th:field="${report.getAddress().getPostCode()}" required>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" id="city" name="city" th:field="${report.getAddress().getCity()}" required>
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" class="form-control" id="country" name="country" th:field="${report.getAddress().getCountry()}" required>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" required th:field="${report.getLitter().getDescription()}"></textarea>
                </div>
                <div class="form-group mt-3">
                    <label for="photo">Photo</label>
                    <input type="file" class="form-control-file" id="photo" name="photo" accept="image/*">
                </div>

                <button type="submit" class="btn btn-primary m-3">Update</button>
            </form>
        </div>
    </div>
</div>
