<div class="container mt-4 bg-white">
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Street</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>PostCode</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${not #lists.isEmpty(litters)}" th:each="litter : ${litters}">
                        <td th:text="${litter.getCreatedAt()}"></td>
                        <td th:text="${litter.getAddress().firstLine}"></td>
                        <td th:text="${litter.getAddress().city}"></td>
                        <td th:text="${litter.getAddress().country}"></td>
                        <td th:text="${litter.getAddress().postCode}"></td>
                        <td th:text="${litter.getStatus()}"></td>
                        <td>
                            <div class="btn-group">
                                <a th:href="@{/thy/litter/{id}(id=${litter.id})}" class="btn btn-success btn-sm">View</a>
                                <a th:href="@{/thy/litter/edit/{id}(id=${litter.id})}" class="btn btn-warning btn-sm">Edit</a>
                                <a th:href="@{/thy/litter/delete/{id}(id=${litter.id})}" class="btn btn-danger btn-sm">Delete</a>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(litters)}">
                        <td colspan="6"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



