<div class="container mt-4 bg-white">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <a th:href="@{/thy/auth/admin/litters}">Back</a>
            <h4 style="text-align: center;">Litter Details</h4>
            <hr>
            <h4><span class="text-muted">ID:</span></h4>
            <p><span th:text="${id}"></span></p>

            <h4><span class="text-muted">Created At:</span></h4>
            <p><span th:text="${createdAt}"></span></p>

            <h4><span class="text-muted">Updated At:</span></h4>
            <p><span th:text="${updatedAt}"></span></p>

            <h4><span class="text-muted">Street:</span></h4>
            <p><span th:text="${firstline}"></span></p>
            <h4><span class="text-muted">City:</span></h4>
            <p><span th:text="${city}"></span></p>
            <h4><span class="text-muted">Country:</span></h4>
            <p><span th:text="${country}"></span></p>
            <h4><span class="text-muted">PostCode:</span></h4>
            <p><span th:text="${postcode}"></span></p>

            <h4><span class="text-muted">Description:</span></h4>
            <p><span th:text="${description}"></span></p>

            <h4><span class="text-muted">Image:</span></h4>
            <div class="image-container" onclick="expandImage()">
                <img th:src="@{'data:image/png;base64,' + ${image}}" alt="Litter Image" />
            </div>


            <h4><span class="text-muted">Status:</span></h4>
            <p><span th:text="${status}"></span></p>
        </div>
    </div>

</div>

<script>
    function expandImage() {
        var img = document.querySelector('.image-container img');
        img.style.transform = img.style.transform === 'scale(1.2)' ? 'none' : 'scale(1.2)';
    }
</script>


