<div class="modal fade" id="showLitterDetailsModal" tabindex="-1" aria-labelledby="addLitterModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
                <h5 class="modal-title" id="addLitterModalLabel">Litter Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal body -->
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h1 class = "text-center">Litter Details</h1>
                    <hr>
<!--                    <h4><span class="text-muted">Created At:</span></h4>-->
<!--                    <p><span th:text="${litter.getCreatedAt()}"></span></p>-->

<!--                    <h4><span class="text-muted">Created By:</span></h4>-->
<!--                    <p><span th:text="${litter.getCreatedBy()}"></span></p>-->

<!--                    <h4><span class="text-muted">Updated At:</span></h4>-->
<!--                    <p><span th:text="${litter.getUpdatedAt()}"></span></p>-->

<!--                    <h4><span class="text-muted">Updated By:</span></h4>-->
<!--                    <p><span th:text="${litter.getUpdatedBy()}"></span></p>-->

<!--                    <h4><span class="text-muted">Address:</span></h4>-->
<!--                    <p><span th:text="${litter.getAddress().firstLine + ', ' +-->
<!--                                     litter.getAddress().postCode + ', ' +-->
<!--                                     litter.getAddress().city + ', ' +-->
<!--                                     litter.getAddress().country}"></span></p>-->

<!--                    <h4><span class="text-muted">Description:</span></h4>-->
<!--                    <p><span th:text="${litter.getDescription()}"></span></p>-->

<!--                    <h4><span class="text-muted">Image:</span></h4>-->
<!--                    <p><span th:text="${litter.getImage()}"></span></p>-->

                    <a href="#" onclick="window.location.href='/thy/litter'"
                       class="btn btn-primary mt-3">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
