<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
</head>
<body>
<h2>Registration Form</h2>
<form th:action="@{/thy/security/registration}" th:object="${userRegistrationModel}" method="post">
    <div>
        <label>Email:</label>
        <input type="email" th:field="*{email}" required />
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>
    <div>
        <label>First Name:</label>
        <input type="text" th:field="*{firstName}" required />
        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}" required />
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>
    <div>
        <label>Confirm Password:</label>
        <input type="password" th:field="*{passwordConfirmation}" required />
        <span th:if="${#fields.hasErrors('passwordConfirmation')}" th:errors="*{passwordConfirmation}"></span>
    </div>
    <button type="submit">Register</button>
</form>
</body>
</html>
